<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SHR-部门列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
                <label class="layui-form-label">搜索条件</label>
				<div class="layui-input-inline">
					<select id="select" name="modules" lay-verify="required" lay-search="">
						<option value="">审批状态</option>
						<option value="0">未审批</option>
						<option value="1">审批通过</option>
                        <option value="2">审批未通过</option>
					</select>
				</div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</div>
		</form>

	</blockquote>
	<table id="applyList" lay-filter="applyList"></table>

</form>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="/js/common/applyList.js"></script>
</body>
</html>