<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>添加部门</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">部门ID</label>
			<div class="layui-input-inline">
				<input id="departmentId" type="text" lay-verify="required" autocomplete="off" class="layui-input" disabled>
			</div>
		</div>
        <div class="layui-inline">
            <label class="layui-form-label">部门名称</label>
            <div class="layui-input-block">
                <input id="depName" type="text" name="identity"   autocomplete="off" class="layui-input">
            </div>
        </div>

		<div class="layui-inline">
			<label class="layui-form-label">部门领导</label>
			<div class="layui-input-block">
				<select id="leaderName"  class="userGrade" lay-filter="userGrade">
					<option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name}"></option>
				</select>
			</div>
		</div>
	</div>

    </div>

	<div class="layui-form-item layui-row layui-col-xs12">
		<div class="layui-input-block">
			<button id = "okBtn" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addDepartment">修改</button>
		</div>
	</div>
</form>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="../../../js/system/departmentAdd.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</body>
</html>