<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgut.shr.mapper.ApplyMapper">
    <insert id="insertApply">
        insert into
        tb_apply(employee_id,type,remark,date,start_time,end_time)
        VALUES(#{employeeId},#{type},#{remark},#{date},#{startTime},#{endTime})
    </insert>

    <update id="updateApply">
        update tb_apply
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="state != null ">
                state = #{state},
            </if>
            <if test="startTime != null and startTime != ''">
                start_time = #{startTime},
            </if>
            <if test="endTime != null and endTime != ''">
                end_time = #{endTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectList" resultType="com.dgut.shr.javaBean.Apply">
    select a.id, a.employee_id,e.name,a.type,a.remark,a.state,a.start_time,a.end_time,a.date
    from tb_apply a,tb_employee e
    <where>
        a.employee_id = e.id
        <if test="employeeId != null and employeeId !=''">
            and a.employee_id = #{employeeId}
        </if>
        <if test="type != null and type !=''">
            and a.type = #{type}
        </if>
        <if test="date != null and date !=''">
            and DATE_FORMAT(date,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d')
        </if>
    </where>
    </select>
    <select id="selectEmpIdById" resultType="java.lang.String">
        select employee_id from tb_apply where id = #{id}
    </select>
    <select id="getById" resultType="com.dgut.shr.javaBean.Apply">
        select * from tb_apply where id = #{id}
    </select>
</mapper>