<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgut.shr.mapper.BonusMapper">

    <insert id="insertBatch">
        insert into tb_bonus
        (employee_id, bonus, type, pay_year_month)
        values
        <foreach collection ="ids" item="id" index= "index" separator =",">
            (#{id},#{bonus},#{type},#{payYearMonth})
        </foreach >
    </insert>

    <delete id="deleteBatch">
        delete from tb_bonus
        where type =1 and pay_year_month = #{payYearMonth}
        and employee_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectBonus" resultType="com.dgut.shr.dto.BonusDto">
        select * from tb_bonus
        <where>
            <if test="employeeId != null and employeeId !=''">
                and employee_id = #{employeeId}
            </if>
            <if test="payYearMonth != null and payYearMonth !=''">
                and pay_year_month = #{payYearMonth}
            </if>
            <if test="type != null and type !=''">
                and type = #{type}
            </if>
        </where>
    </select>
</mapper>